.tile{
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 80px;
    border: 1px solid green;

    border-color: #fff;
    cursor: pointer;
    background-color: green;
    color: #fff
}